{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - FurniTrack Pro{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_actions %}
<a href="{% url 'sales:customer_list' %}" class="btn btn-sm btn-outline-secondary">
    <i class="fas fa-arrow-left"></i> Back to Customers
</a>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0"><i class="fas fa-user-circle"></i> {{ title }}</h5>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.customer_type|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.phone|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.id_number|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.credit_limit|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.is_active|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.loyalty_points|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.address|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.notes|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Save Customer
                        </button>
                        <a href="{% url 'sales:customer_list' %}" class="btn btn-outline-secondary">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}