{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - FurniTrack Pro{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_actions %}
<a href="{% url 'sales:sale_list' %}" class="btn btn-sm btn-outline-secondary">
    <i class="fas fa-arrow-left"></i> Back to Sales
</a>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-success text-white">
                <h5 class="mb-0"><i class="fas fa-receipt"></i> {{ title }}</h5>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.shop|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.payment_method|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.customer_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.customer_phone|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.customer_email|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.customer_id|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.discount_amount|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.notes|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> Save Sale
                        </button>
                        <a href="{% url 'sales:sale_list' %}" class="btn btn-outline-secondary">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}